.slideshow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 25px;
  height: 415px;
  box-sizing: border-box;
}
.slidesWrapper {
  position: relative;
  display: flex;
  height: 450px;
  width: 100%;
  overflow: hidden;
}
.slide {
  display: flex;
  height: 450px;
  transition: transform 0.6s ease-in-out;
}

img {
  object-fit: cover;
}
.counter {
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  align-self: flex-end;

  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-weight: 500;
  color: var(--white);
  font-size: 18px;
}
.controls {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.controls button {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
.controls button img {
  width: 100%;
}
.controls button:hover {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
   .counter {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .slideshow {
    height: 255px;
  } 
  .controls button {
    width: 11.67px;
  }
}
